.scannerContainer{
	margin-top: 25px;
	width:100%;
	max-height:600px;
	overflow: hidden;
	position:relative;
}

.scannerContainer .scanner{
	margin-top: 0px;
	margin-left:0px;
}

.scanner svg{
	position: absolute;
	top:0px;
	left:0px;
	margin:inherit;
}

.scannerContainer .scannerMinimap{
	background-image: url(../resources/img/game/scanner/heart_nebula.jpg);
	width: 20%;
	height: 20%;
	max-height: 15%;
	max-width: 15%;
	background-size: 100% auto;
	background-position: center;
	background-repeat: no-repeat;
	opacity:.70;
	position: absolute;
	right:0px;
}

.scannerContainer .scannerMinimap .marker{
	background-color: #90CA77;
	position: absolute;
	opacity: .60;
}

.scannerContainer .scanner:hover{
	cursor: move;
}

.scannerContainer .scanner:active{
	cursor: move;
}

circle:hover{
	cursor:pointer;
	stroke: #008C9E;
	transition:1s;
}

circle{
	stroke: #005F6B;
	opacity: 0.5;
	transition:1s;
}