.scannerContainer{
	margin-top: 25px;
	width:100%;
	max-height:600px;
	overflow: hidden;
	position:relative;
}

.scannerContainer .scanner{
	margin-top: 0px;
	margin-left:0px;
}

.scanner svg{
	position: absolute;
	top:0px;
	left:0px;
	margin:inherit;
}

.scannerContainer .scannerMinimap{
	background-image: url(../resources/img/game/scanner/heart_nebula.jpg);
	width: 20%;
	height: 20%;
	max-height: 15%;
	max-width: 15%;
	background-size: 100% auto;
	background-position: center;
	background-repeat: no-repeat;
	opacity:.70;
	position: absolute;
	right:0px;
	z-index: 1;
}

.scannerContainer .scannerMinimap .marker{
	background-color: #90CA77;
	position: absolute;
	opacity: .60;
}

.scannerContainer .scanner:hover{
	cursor: move;
}

.scannerContainer .scanner:active{
	cursor: move;
}

.scannerContainer .scanner #sector9{
	stroke: #005F6B;
}

.scannerContainer .scanner .sector{
	opacity: 0.1;
	transition: 1s;
}

.scannerContainer .scanner .sector:hover{
	opacity: 0.3;
	transition: 1s;
	cursor:pointer;
}

.scannerContainer .scanner #sector1{
	fill: #BD1550;
}
.scannerContainer .scanner #sector2{
	fill: #E97F02;
}
.scannerContainer .scanner #sector3{
	fill: #F8CA00;
}
.scannerContainer .scanner #sector4{
	fill: #8A9B0F;
}
.scannerContainer .scanner #sector5{
	fill: #61A6AB;
}
.scannerContainer .scanner #sector6{
	fill: black;
}
.scannerContainer .scanner #sector7{
	fill: white;
}
.scannerContainer .scanner #sector8{
	fill: gray;
}