.scannerContainer{
	margin:auto;
	width:980px;
	height:500px;
}

.scannerContainer .scanner{
	background-image: url(../resources/img/game/scanner/NGC_1232.jpg);
	width:100%;
	height:100%;
	background-position: 0 0;
    background-repeat: no-repeat;
    background-color: #181C35;
}

.scannerContainer .scanner:hover{
	cursor: move;
}

.scannerContainer .scanner:active{
	cursor: move;
}